<div class="max-w-lg mx-auto mt-16 text-center">
  <h1 class="mb-4 text-3xl font-black">Hamnavoe Project!</h1>
  <p class="text-lg leading-snug">Use this to reconcille two ticket systems and record time working on tickets.</p>
</div>
